*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f5f5f5;
    color:#333;
}

/* HEADER */

header{
    background:#222;
    padding:20px;
    position:sticky;
    top:0;
	z-index:1000;
}

nav{
    display:flex;
    justify-content:center;
    gap:40px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    color:#ffb6c1;
}

/* SECCIONES */

section{
    padding:60px 10%;
}

h2{
    text-align:center;
    margin-bottom:30px;
}

/* INICIO */

.hero{
    text-align:center;
}

.hero h1{
    font-size:3rem;
    margin-bottom:15px;
}

.hero p{
    margin-bottom:20px;
}

.hero img{
    width:100%;
    max-width:900px;
    border-radius:10px;
}

/* PORTFOLIO */

.gallery{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:20px;
	
	
}

.gallery img{
    width:100%;
    height:300px;
    object-fit:cover;
    border-radius:10px;
    
	cursor:pointer;
	transition:
        transform 0.25s ease,
        box-shadow 0.25s ease;
	box-shadow:0 8px 20px rgba(0,0,0,0.2);
}

.gallery img:hover{
    transform:scale(1.03);
}

/* ABOUT */

#about{
    text-align:center;
    line-height:1.8;
    max-width:900px;
    margin:auto;
}

/* CONTACTO */

form{
    max-width:600px;
    margin:auto;

    display:flex;
    flex-direction:column;
    gap:15px;
}

input,
textarea{
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
}

button{
    background:#222;
    color:white;
    border:none;
    padding:12px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#444;
}

/* FOOTER */

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}

/*LIGHT BOX IMAGENES*/

.lightbox{
    display:none;
    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,0.8);

    justify-content:center;
    align-items:center;

    z-index:9999;
	opacity:0;
    transition:opacity 0.25s ease;
}

.lightbox.show{
    opacity:1;
}

.lightbox img{
    max-width:90%;
    max-height:90%;

    border-radius:10px;
	transform:scale(0.95);
    transition: none;
	cursor: grab;
	user-select:none;
	transform-origin: center center;
	
}
	
}



.close{
    position:absolute;
    top:20px;
    right:30px;

    color:white;
    font-size:40px;

    cursor:pointer;
}

.prev,
.next{

    position:absolute;
    top:50%;

    transform:translateY(-50%);

    color:white;

    font-size:50px;

    cursor:pointer;

    user-select:none;

    padding:15px;

    transition:0.2s;
}

.prev{
    left:20px;
}

.next{
    right:20px;
}

.prev:hover,
.next:hover{
    transform:translateY(-50%) scale(1.1);
}

/* RESPONSIVE */

@media (max-width:768px){

    .gallery{
        grid-template-columns:1fr;
    }

    .hero h1{
        font-size:2rem;
    }

}